.forgotPass {
  display: flex;
  margin-top: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;

  &__card {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-title {
      color: #54575a;
    }

    &-border {
      background-color: #599290;
    }

    &-image {
      margin-top: 20px;
      height: 100px;
    }

    &-form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      &-button {
        height: 40px;
        margin-top: 20px;
      }

      &-textfield {
        width: 250px;
      }
    }
  }

  &__link {
    margin: 20px 20px;
  }
}
