.graph {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px 10px 0px;

    &-title {
      margin: 0px 0px 10px 2%;
    }

    &-price {
      margin: 0px 0px 0px 2%;
      color: grey;
    }
  }
}
