.learnMore {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align: start;

    &-desc {
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-howTo {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-text {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        justify-content: space-between;

        &-step {
          text-align: left;
          width: 250px;

          &-title {
            margin-bottom: 20px;
          }

          &-link {
            margin-top: 15px;
            text-decoration: none;
          }
        }
      }
    }

    &-title {
      margin: 0px 0px 1000000px 0px;
    }

    &-p {
      width: 80%;
    }
  }

  #scrollUp {
    color: rgb(130, 150, 174);
    margin-top: 10px;
  }
}
