.navbar {
  &__image {
    height: 100%;
    &:hover {
      cursor: pointer;
    }
  }

  &__autocomplete {
    &-option {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &-p {
        margin: 0px 10px;
        font-weight: bold;
      }
    }
  }
}
