.ticker {
  margin: 100px 0px;

  &__border {
    background-color: #26638e;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;

    &-detail {
      width: 30%;
    }
  }
}
