.userLanding {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &-graph {
        height: 300px;
        width: 800px;
      }
    }
  }
}
